body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  height: 400px;
  width: 250px;
  border-radius: 25px;
  box-shadow: 1px 1px 5px black;
  flex-wrap: wrap;
  background-color: gray;
  justify-content: center;
  align-items: center;
}