.screen {
    display: flex;
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 25px;
    box-shadow: inset 1px 1px 5px black;
    justify-content: flex-end;
    align-items: center;
}

.text {
    margin: 10px;
}